article {
    display: grid;
    grid-template-columns: 60px 1fr;
    font-size: 2rem;
    width: 50%;
    padding: 10px;
}

article .likes_count {
    width: 38px;
    height: 110px;
    gap: 2rem;
    display: flex;
    padding-block: 10px;
    flex-direction: column;
    place-items: center;
    border-radius: 10px;
    background-color: var(--clr-neutral-500);
    color: var(--clr-primary-400);
}

.left_side {
    gap: 1rem;
}

.top_side {
    display: flex;
    justify-content: space-between;
}

.right_side {
    display: flex;
    gap:5px;
}

.left_side .avatar {
    display: block;
    height: 40px;
    width: 40px;
    margin-block: auto auto;

}

.top_side .left_side {
    display: flex;
}


h2 {
    font-size: 1.7rem;
    margin-block: auto auto;
    font-weight: 500;

}

h3 {
    font-size: 1.5rem;
    opacity: 50%;
    margin-block: auto auto;
    font-weight: 400;

}


.clickable {
    cursor: pointer;
}


.icon_reply {
    height: 15px;
    width: 15px;
    margin-block: auto auto;
}


.bottom_side {
    padding-block: 15px;
}

.bottom_side p {
    opacity: 60%;
    font-size: 1.6rem;
}






  
  
  
  
  
  
  
  